.vs/
CommandWhisperer/x64/
CommandWhisperer/CommandWhisperer.vcxproj.user
CommandWhisperer/CommandWhisperer_p.c
CommandWhisperer/CommandWhisperer.h
CommandWhisperer/CommandWhisperer_i.c
CommandWhisperer/dlldata.c
CommandWhisperer/CommandWhisperer.aps
